* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, serif;
    background-color: rgb(24, 24, 24);
}

.logo h1 {
    background: linear-gradient(#333333 , #dd1818);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

.home {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    background: linear-gradient(#333333, #dd1818);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s ease;
    width: 0%;
    height: 2px;
    background-color: red;
}

.home:hover::after {
    width: 100%;
}

.gallery {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    background: linear-gradient(#333333, #dd1818);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gallery::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s ease;
    width: 0%;
    height: 2px;
    background-color: red;
}

.gallery:hover::after {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
    border-bottom: solid 1px black;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-bar {
    margin-right: 40px;
}

.search-bar input {
    padding: 5px 15px;
    outline: none;
    border: 1px solid transparent black;
    transition: 0.4s ease;
    border-radius: 7px;
    background: transparent;
    color: gray;
    font-size: 16px;
}

.search-bar input:focus {
    transition: 0.4s ease;
    border-color: crimson;
}

img {
    height: 350px;
    width: 250px;
    image-rendering: optimizeQuality;
}

.gallery-section .header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(#f39c12, #e74c3c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 30px;
}

.grid-3-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 25px;
}

.grid-3-cards img {
    width: 100%;
    height: 100%; /* fill the grid cell */
    border-radius: 12px;
    transition: 0.3s ease;
    image-rendering: optimizeQuality;
}

.grid-3-cards img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}