* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-10 {
    width: 100px;
    height: 50px;
    background: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.4s;
}

.box-10:hover {
    scale: 1.2;
}