* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


header {
    padding: 80px;
}


nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    gap: 150px;
}


nav a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 30px;
    transition: 0.3s ease;
}


nav a:hover {
    color: rgb(182, 16, 49);
    text-decoration: underline;
}


.main-section {
    color: white;
    padding: 50px;
}


.main-text {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 50px;
}


.main-text p {
    font-size: 25px;
}


.line-through {
    text-decoration: line-through;
    color: yellow;
}


span {
    color: green;
}


.orange {
    color: orangered;
}


.blue {
    color: cornflowerblue;
}


.facebook {
    color: cornflowerblue;
}


.youtube {
    color: red;
}


.yellow {
    color: yellow;
}


.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.nav a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
    transition: 0.3s;
}


.nav a:hover {
    color: green;
    text-decoration: underline;
}


#li {
    font-size: 23px;
}


.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 70vh;
}


img {
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}


img:hover {
    box-shadow:  0px 0px 20px green;
}


h2 {
    color: darkolivegreen;
}


#orange {
    text-decoration: underline;
}


#blue {
    text-decoration: underline;
}


#yellow {
    text-decoration: line-through;
}