*{

    font-size: 18px;

}



#list1{

    font-weight: 800;
    font-size: 23px;

}



h1{

    font-size: 30px;
    width: 550px;
    text-align: center;

}



#Main{

    font-weight: 800;
    

}



.Programming{

    font-size: 21px;

}



.Database{

    font-size: 21px;

}



.CSS{

    font-size: 22px;

}



.HTML{

    font-size: 21px;

}