.P1{

border-style: double;
border-width: 10px;
border-color: rgb(26, 87, 167);
width: 650px ;
height: 145px;
text-align: center;

margin-left: 580px;
padding-left: 20px;
padding-right: 24px;
padding-top: 15px;
padding-bottom: 15px;

}


.H2{

text-align: center;




}



.H1{

text-align: center;
border-style: groove;
border-width: 10px;
width: 550px;
height: 102px;
margin-left: 650px;
border-color: rgb(85, 155, 255);



}

.img{

position: relative;
bottom: -10px;



}























