* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    background-color: lightgreen;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(142, 194, 137);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#green {
    color: green;
}

.nav-links a {
    text-decoration: none;
    color: green;
}

.about {
    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 2px;
}

.about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: 0.5s ease;
    background-color: green;
    height: 2px;
}

.about:hover::after {
    width: 100%;
}

.categories {
    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 2px;
}

.categories::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: 0.5s ease;
    background-color: green;
    height: 2px;
}

.categories:hover::after {
    width: 100%;
}

.plant-care {
    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 2px;
}

.plant-care::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: 0.5s ease;
    background-color: green;
    height: 2px;
}

.plant-care:hover::after {
    width: 100%;
}

.blog {
    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 2px;
}

.blog::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: 0.5s ease;
    background-color: green;
    height: 2px;
}

.blog:hover::after {
    width: 100%;
}

.contact {
    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 2px;
}

.contact::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: 0.5s ease;
    background-color: green;
    height: 2px;
}

.contact:hover::after {
    width: 100%;
}

.banner {
    background: url(./Assets/christmas\ tree\ inspiration.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
}

.bg-text {
    color: white;
}

.little-h2 {
    font-weight: 100;
    font-size: 30px;
}

.main-h2 {
    font-weight: 100;
    font-size: 55px;
}

.bg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 15px;
    text-align: center;
}

.bg-text p {
    margin-top: 15px;
}

.bg-text-button button {
    padding: 12px 35px;
    transition: 0.4s ease;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
}

.bg-text-button button:hover {
    background-color: darkgreen;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    text-align: center;
}

.card {
    background-color: rgb(73, 202, 73);
    padding: 15px 30px;
    border-radius: 30px;
    transition: 0.5s ease;
    cursor: default;
    width: 260px;
}

.card:hover {
    box-shadow: 0px 0px 20px green;
    transform: translateY(-20px);
}

.card h3 {
    background: linear-gradient(90deg, #ff0000, rgb(255, 255, 255));
    font-weight: 100;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.tree-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    text-align: center;
}

.tree-picker-text {
    color: black;
}

.tree-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    width: 100%;
    margin-top: 50px;
}

.tree-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 15px 15px 5px 5px;
    transition: 0.5s ease;
    width: 280px;
}

.tree-card:hover {
    box-shadow: 0px 0px 20px green;
}

.tree-card button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid green;
    color: green;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease;
}

.tree-card button:hover {
    background-color: green;
    color: white;
}

.tree-card h3 {
    font-weight: 100;
}

.tree-card p {
    font-weight: 700;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tree-picker-view-more-btn button {
    padding: 10px 25px;
    margin-top: 50px;
    color: green;
    border: 2px solid darkgreen;
    cursor: pointer;
    transition: 0.4s ease;
}

.tree-picker-view-more-btn button:hover {
    background-color: green;
    color: white;
    border-color: green;
}

.advertisment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.ad-text {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.ad-text h2 {
    font-size: 35px;
}

.ad-text p {
    font-weight: 600;
}

.ad-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 70px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ad-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(215, 255, 215);
    padding: 40px 60px;
    transition: 0.4s ease;
    width: 260px;
}

.ad-card:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 20px green;
}

.ad-card h3 {
    font-weight: 100;
}